
<div class="container p-5">
  <div class="row" >
    <div class="col-md-12" [formGroup]="registerForm">
      <h1>Register</h1>
      <div class="form-group mt-2 ">
        <label for="firstName"><b>First Name  <small class="text-danger">*</small> </b></label>
        <input type="text" class="form-control   textAlign_Center" id="firstName" placeholder="Enter First Name"
          formControlName="firstName">
        <small class="text-danger"
          *ngIf="registerForm.get('firstName').hasError('required')">
          This field is required.
        </small>
      </div>
      <div class="form-group mt-2 ">
        <label for="lastName"><b>Last Name  <small class="text-danger">*</small> </b></label>
        <input type="text" class="form-control  textAlign_Center" id="lastName" placeholder="Enter Last Name"
          formControlName="lastName">
          <small class="text-danger"
          *ngIf="registerForm.get('lastName').hasError('required')">
          This field is required.
      </small>
      </div>
      <div class="form-group mt-2 ">
        <label for="userName"><b>Email  <small class="text-danger">*</small>  </b></label>
        <input type="email"  class="form-control  textAlign_Center"  id="userName"  placeholder="Enter Email" formControlName="userName">
        <small class="text-danger"
        *ngIf="registerForm.get('userName').hasError('required')">
        This field is required.
    </small>
        <small class="text-danger"
          *ngIf="registerForm.get('userName').hasError('email')">
          The minimum length for this field is {{registerForm.get('email').errors.minlength.requiredLength}} characters.
        </small>
      </div>
      <div class="form-group mt-2 ">
        <label for="password"><b>Password  <small class="text-danger">*</small>  </b></label>
        <input type="password" class="form-control  textAlign_Center"  id="password"  placeholder="Enter Password" formControlName="password">
        <small class="text-danger"
          *ngIf="registerForm.get('password').hasError('minlength')">
          The minimum length for this field is {{registerForm.get('password').errors.minlength.requiredLength}} characters.
        </small>
        <small class="text-danger"
        *ngIf="registerForm.get('password').hasError('required')">
        This field is required.
    </small>
      </div>
      <!-- <button type="submit" class="btn btn-success mt-3 "  routerLink="/login">Login</button> &nbsp; -->
      <a routerLink="/login" class="m-2">Login?</a>
      <button type="submit" class="btn btn-primary w-50 m-3" [disabled]="registerForm.invalid" (click)="registerBtn()">Register</button>&nbsp;
    </div>
  </div>
</div>




